/* body {
  -webkit-text-size-adjust: auto !important;
} */
.hero_banner_video {
  position: relative;
}
.hero_banner_text_wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
}
.hero_banner_text {
  font-size: 35px !important;
  color: #fff !important;
  text-align: center;
  padding: 40px 20px !important;
  position: relative;
}
.hero_banner_text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.intro-info-header img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.wrap-top-module video {
  height: 100vh;
  width: 100vw;
  object-fit: cover !important;
}
@media (max-width: 1024px) {
  .wrap-top-module video {
    height: calc(100vh - 70px);
  }
}

.intro-info-header {
  padding-right: 0;
  width: 100%;
}

.intro-info-content {
  padding-left: 40px;
  width: 45%;
}
.intro-info-content h3 {
  font-size: 35px;
  margin: 0 0 20px;
  line-height: 35px;
}
.intro-content-text {
  font-size: 18px !important;
  margin: 0 0 10px;
  line-height: 22px;
}
.wrap-intro-moreinfo {
  display: flex;
  justify-content: space-around;
}
.btn-more-text {
  cursor: pointer;
}
.intro-moreinfo-element .wrap-moreinfo-element {
  padding: 40px 20px;
  border-top: none;
}
.wrap-intro-info {
  display: flex;
}
.flex-item.text-center.ganesh-logo-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.flex-item.text-center.ganesh-logo-flex p {
  margin: 0 0 20px;
  text-align: center;
}
.wrap-galleries-content {
  display: flex !important;
}
.full_w_slider {
  display: block !important;
}
.galleries-images-slider {
  height: 100%;
}
.wrap-images-element {
  height: 100% !important;
}
@media (max-width: 1279px) {
  .wrap-intro-info {
    display: block;
  }
  .intro-info-header {
    padding-right: 0;
    width: 100%;
    margin: 0 0 20px;
  }
  .intro-info-content {
    padding-left: 0;
    width: 100%;
  }
  .wrap-galleries-content {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .wrap-intro-moreinfo {
    flex-direction: column;
  }
  .intro-moreinfo-element .wrap-moreinfo-element {
    padding: 10px 0;
    border-top: none;
  }
}

/* Small Cards */
.smallCards {
  padding-bottom: 50px;
}
.smallCards_list {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  align-items: center;
  flex-wrap: wrap;
}
.smallCards_item {
  width: 24%;
  padding: 20px 30px;
  margin: 10px 0;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}
.smallCards_item:hover {
  color: #8c8782;
}

.vr {
  height: 86px;
  width: 1px;
  background-color: #000;
  opacity: 0.7;
  margin: 8px 0;
}
.smallCards_list .vr:nth-of-type(8) {
  width: 0;
}
.smallCards_item_heading {
  font-size: 20px;
  margin: 0 0 10px;
  line-height: 25px;
}
.smallCards_item p {
  font-size: 15px;
  margin: 0 0 5px;
  line-height: 20px;
}
@media (max-width: 1280px) {
  .smallCards_list {
    flex-wrap: wrap;
  }
  .smallCards_item {
    width: 30%;
  }
  .smallCards_list .vr:nth-of-type(8) {
    width: 1px;
  }
}
@media (max-width: 767px) {
  .smallCards_item {
    width: 48%;
  }
  .vr:nth-child(4) {
    display: none;
  }
  .vr:nth-child(8) {
    display: none;
  }
  .vr:nth-child(12) {
    display: none;
  }
  .smallCards_item {
    padding: 15px;
  }
}

.wrap-img img {
  object-fit: cover;
}
.smallText {
  font-size: 18px;
  margin: 10px 0 0;
  line-height: 22px;
  color: #494542;
  line-height: 25px;
}
.promotions-module .promotions-header-title {
  font-size: 25px !important;
  color: #1c75b7;
  line-height: 30px;
}
.test_section {
  text-align: center;
  padding: 0 20px;
  margin: 0 0 50px;
}
.test_section .test_section_title {
  font-size: 35px;
  margin: 0 0 30px;
  line-height: 40px;
}
.test_section_text {
  font-size: 18px;
  margin: 0 0 20px;
  color: #494542;
  line-height: 22px;
}
.partners-content-element::before {
  content: none !important;
}
.partners-content-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.partners-header-title {
  font-size: 30px !important;
  color: #8c8782 !important;
  text-align: center;
  line-height: 40px !important;
}
.partners-header-title b {
  font-size: 25px;
}
.bottom_space {
  margin: 0 0 20px;
}
.wrap-partnerns-element svg {
  width: 60px;
  fill: #8c8782;
  transition: all 0.5s;
  cursor: pointer;
}
.wrap-partnerns-element svg:hover {
  fill: #494542;
}
body {
  overflow-x: hidden;
  color: #1c75b7;
}
.info-slider-element .wrap-info-element .info-element-title {
  color: #1c75b7;
}
.wrap-top-logo img {
  width: 100px !important;
}
.top-module-logo {
  top: 10px !important;
}
.top-module-logo .wrap-top-logo {
  display: flex;
  justify-content: center;
}
.promotions-header-title {
  color: #1c75b7 !important;
}
.promotion-info-title {
  color: #1c75b7 !important;
}
.intro-module .intro-header-title {
  font-size: 60px;
  line-height: 70px;
}
@media (max-width: 767px) {
  .intro-module .intro-header-title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 575px) {
  .intro-module .intro-header-title {
    font-size: 30px;
    line-height: 35px;
  }
  .wrap-partnerns-element svg {
    width: 55px;
  }

  .partnerns-element-text {
    font-size: 18px !important;
    line-height: 25px;
  }
}

.vr_border {
  border: 1px solid #8c8782;
  height: 80px;
  margin-bottom: 50px;
}
.footer-partners-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .footer-partners-content {
    flex-wrap: wrap !important;
    padding: 0 50px;
  }
  .partners-content-element {
    width: 50% !important;
    justify-content: space-between;
  }
  .partners-content-element:nth-child(2) .vr_border {
    display: none;
  }
  .partners-content-element:nth-child(2) {
    justify-content: end;
  }
  .partners-content-element:nth-child(4) {
    justify-content: end;
  }
}
@media (max-width: 575px) {
  .footer-partners-content {
    flex-wrap: wrap !important;
    padding: 0 50px;
    flex-direction: column;
  }
  .vr_border {
    display: none;
  }
  .partners-content-element .wrap-partnerns-element {
    border: none;
  }
  .partners-content-element {
    justify-content: center !important;
  }
  .partners-content-element {
    width: 100% !important;
  }
  .partners-content-element {
    width: 100% !important;
  }
}
.galleries-nav-element {
  width: 240px !important;
}
/* .galleries-content {
  height: 650px;
} */
.wrap-galleries-content {
  height: 100% !important;
}
.images-element-photo {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.galleries-module.info-right.banner-mod
  .info-slider-element
  .wrap-info-element {
  padding: 120px 70px 70px 45px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1280px) {
  .galleries-module.info-right.banner-mod
    .info-slider-element
    .wrap-info-element {
    padding: 40px 70px 70px 45px;
  }
}
@media (max-width: 767px) {
  .galleries-module.info-right.banner-mod
    .info-slider-element
    .wrap-info-element {
    padding: 40px 20px 40px 20px;
  }
}
/* .menu-logo img {
  width: 80px;
} */
.visionaries_heading {
  font-size: 50px;
  padding: 40px 20px 0;
  text-align: center;
  line-height: 55px;
}
@media (max-width: 1280px) {
  .visionaries_heading {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  .visionaries_heading {
    font-size: 30px;
    line-height: 35px;
  }
}
.partnerns-element-text {
  opacity: 1 !important;
}
.promotions-module .wrap-promotions-module {
  padding-bottom: 0;
}

/* Image Animation */
.imgAnim {
  position: relative;
  transition: all 0.5s;
  /* overflow: hidden; */
}

.imgAnim::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in;
  z-index: 9;
}

.imgAnim.in-view::before {
  height: 0;
}

/* Image Animation closed */

.bookWrapper {
  width: 500px;
  height: 450px;
  position: static;
  transform: translateY(140px);
  z-index: 99;
}
.bookBg {
  position: relative;
  /* background-color: #000000; */
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.centerClass {
  position: absolute;
  left: 50%;
  top: 50%;
}
.pageBg {
  /* background-color: #ffffff; */
  width: 652px;
  height: 422px;
  border-radius: 0px;
}
.spineCenter {
  width: 2px;
  height: 422px;
  border-radius: 0px;
  background: rgba(101, 101, 101, 0.4);
}
.pageWrapper {
  position: relative;
  width: 325px;
  height: 422px;
  float: left;
  -webkit-font-smoothing: antialiased;
}
.pageFace {
  position: absolute;
  width: 491px;
  height: 691px;
  overflow: hidden;
  text-align: center;
}
.front {
  background: linear-gradient(
    to right,
    #d9d9d9 0%,
    #f9f9f9 3%,
    #ffffff 8%,
    #ffffff 100%
  );
}
.back {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 92%,
    #f9f9f9 97%,
    #d9d9d9 100%
  );
}
.pageFoldRight {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-left-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  box-shadow: -5px 5px 10px #dddddd;
}
.pageFoldLeft {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-right-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  box-shadow: 5px 5px 10px #dddddd;
}
.page {
  transition: transform 1s, z-index 0s;
}

.pageFoldRight,
.pageFoldLeft {
  transition: width 0.3s, height 0.3s;
}

.left {
  transform: rotateY(-180deg);
  z-index: 1;
}

.right {
  transform: rotateY(0deg);
  z-index: 1;
}
.book_sec_heading.btn-corp {
  width: max-content;
}
.pageWrapper img {
  max-width: 100%;
  display: block;
  cursor: pointer;
  width: 100%;
}
.book_sec {
  background-color: #fff;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}
.book_sec_heading {
  font-size: 50px;
  line-height: 60px;
  margin: 40px 0 0;
  width: 100%;
}
.book_sec_subHeading {
  font-size: 30px;
  line-height: 40px;
  margin-top: 150px;
  width: 100%;
}
.book_sec_content {
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  color: #494542;
  line-height: 25px;
}

.book_sec_wrapper {
  width: 50%;
  background-color: #d9d9d9;
  /* position: absolute;
  top: 40px; */
}
.btn-corp .btn-corp-text {
  position: relative;
  z-index: 1;
  display: block;
  font-family: "Brandon", sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #1c75b7;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  border: 3px solid #1c75b7;
  padding: 13px 0;
  text-align: center;
  min-width: 250px;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.7s;
}
.btn-corp .btn-corp-text:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #1c75b7;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.6);
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.7s;
}
@media (max-width: 1600px) {
  /* .bookWrapper {
    position: absolute;
    right: 350px;
    top: 46%;
    z-index: 99;
  } */
  .bookWrapper {
    width: 459px;
    height: 550px;
  }
  .pageBg {
    width: 820px;
    height: 550px;
  }
  .pageFace {
    width: 420px;
    height: 570px;
  }
}
@media (max-width: 1280px) {
  .bookWrapper {
    width: 100%;
    height: 100%;
  }
  .book_sec_wrapper {
    width: 100%;
  }
  .book_sec_subHeading {
    margin-top: 100px;
  }
  .book_sec_heading {
    font-size: 45px;
    line-height: 50px;
  }

  .book_sec_content {
    margin-top: 30px;
    font-size: 18px;
    color: #494542;
    line-height: 25px;
  }
  .pageFace {
    width: 400px;
    height: 565px;
  }
  .pageBg {
    width: 1010px;
    height: 800px;
  }
}
@media (max-width: 1199px) {
  .book_sec_subHeading {
    font-size: 30px;
    line-height: 40px;
    display: block;
  }

  .book_sec {
    height: 93vh;
  }
}
@media (max-width: 991px) {
  .book_sec_wrapper {
    padding: 40px 0;
  }

  .book_sec {
    flex-direction: column;
    height: 100vh;
  }

  .book_sec_subHeading {
    font-size: 28px;
    line-height: 40px;
    display: block;
    margin-top: 10px;
  }
  .pageBg {
    width: 650px;
    height: 450px;
  }

  .pageFace {
    width: 323px;
    height: 457px;
  }
  .bookWrapper {
    transform: none;
  }
}

@media (max-width: 767px) {
  .book_sec_heading {
    font-size: 30px;
    line-height: 40px;
  }
  .book_sec_subHeading {
    width: 100%;
  }

  .book_sec_content {
    margin-top: 20px;
    width: 100%;
  }

  .pageFace {
    width: 271px;
    height: 385px;
  }
  .pageBg {
    width: 650px;
    height: 400px;
  }
}

@media (max-width: 630px) {
  /* .bookWrapper {
    position: static;
    transform: translateX(-90px);
  } */
  .pageFace {
    width: 200px;
    height: 280px;
  }
}
@media (max-width: 500px) {
  .book_sec {
    height: 100%;
  }
  .pageFace {
    width: 150px;
    height: 200px;
  }
  .bookWrapper {
    width: 100%;
    height: 360px;
  }
  .pageBg {
    width: 650px;
    height: 223px;
  }
}
@media (max-width: 1279px) {
  .big-wrapper {
    max-width: 1199px;
    padding: 0 30px;
  }
}
@media (max-width: 1199px) {
  .big-wrapper {
    max-width: 991px;
    padding: 0 30px;
  }
}
@media (max-width: 991px) {
  .big-wrapper {
    max-width: 90%;
    padding: 0 20px;
  }
}
.accordion_home_sec {
  background-color: #fff;
  padding: 50px 0;
  color: #fff;
}
.accordion_home_sec_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accodrion_image {
  width: 45%;
}
.home_accordion {
  width: 55%;
  background-color: #1c75b7;
  margin-left: 20px;
  padding: 50px 0;
}
.accodrion_image img {
  max-width: 100%;
  display: block;
  width: 100%;
}
.accordion_list {
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.accordion_item {
  border-bottom: 1px solid #fff;
  width: 100%;
}
.accordion_item_text {
  display: none;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}
.accordion_item_text ul {
  list-style: circle !important;
  padding-left: 20px;
  padding: 0 20px 10px;
}
.accordion_item_text ul li {
  list-style: circle;
  margin: 0 0 10px;
}
.accordion_item_heading {
  cursor: pointer;
  font-size: 32px;
  margin: 10px 0 0;
  padding: 0 0 10px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  align-items: center;
  line-height: 40px;
  padding: 0 10px 10px;
  width: 100%;
}
.accordion_item_heading:hover {
  color: #1faf72;
}
.accordion_item_heading:hover span svg {
  fill: #1faf72;
}
.accordion_item:first-child .accordion_item_text {
  display: block;
}
.accordion_item_heading span svg {
  fill: #fff;
  width: 40px;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.accordion_open span svg {
  transform: rotate(0);
}

@media (max-width: 1199px) {
  .accodrion_image {
    width: 50%;
  }
  .home_accordion {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .accordion_home_sec_wrap {
    flex-direction: column;
  }
  .accodrion_image {
    width: 100%;
  }
  .home_accordion {
    width: 100%;
  }
  .accordion_list {
    padding: 30px 40px;
  }
  .home_accordion {
    margin: 20px 0 0;
  }
}
@media (max-width: 767px) {
  .accordion_item_heading {
    font-size: 28px;
    line-height: 35px;
  }
  .accordion_list {
    padding: 30px 20px;
  }
}
@media (max-width: 575px) {
  .accordion_item_heading {
    font-size: 24px;
    line-height: 30px;
  }
  .big-wrapper {
    padding: 0;
  }
}
.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  margin: 0 auto;
  max-width: 100%;
  display: block;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.paralax_wrap{
  padding: 0 20px;
}
.paralax_wrap_item_left {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0 0;
}
.left_box1 {
  margin: 0 0 40px;
  padding: 10px;
  border: 2px solid #fff;
}
.paralax_title_wrap {
  width: 100% !important;
}
.paralax_wrap_item .partners-header-title {
  color: #fff !important;
  font-size: 25px !important;
  text-align: center !important;
  line-height: 30px !important;
}
.paralax_title {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  margin: 60px 0;
}
.last_img_content{
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;
  height: 100%;
  align-items: center;
}
/* .paralax_wrap_item:first-child .section-background{
width: 51%;
} */
/* .paralax_wrap{
  width: 60%;
  margin: 0 auto;
} */
/* .paralax_wrap_item {
  display: flex;
  justify-content: space-between;
} */

.parallax {
  background-image: url("./static/img/parallax1New.png");
}
.parallax1 {
  background-image: url("./static/img/parallax2New.png");
}
.parallax2 {
  background-image: url("./static/img/paralax3.png");
}

@media (max-width: 991px) {
  .paralax_title {
    font-size: 50px;

    margin: 50px 0;
  }
}
@media (max-width: 767px) {
  .paralax_wrap_item_left {
    display: none;
  }
  .section-background {
    width: 100%;
    background-size: cover;
  }
  .last_img_content{
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .paralax_wrap {
    width: 100%;
  }
  .paralax_title {
    font-size: 40px;

    margin: 50px 0;
  }
  .partners-header-title {
    font-size: 28px !important;
    color: #8c8782 !important;
    text-align: left;
  }
  .partners-header-title b {
    font-size: 22px;
  }
}

.book_sec::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.tab_buttons_wrapper img {
  max-width: 100%;
  display: block;
  width: 200px;
}
.tab_images_wrapper > div {
  display: none;
}
.tab_images_wrapper > .active {
  display: block;
}
.tab_buttons_wrapper > div {
  display: inline-block;
  cursor: pointer;
}
.component-indicator {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(27, 114, 185, 1) 18%,
    rgba(32, 152, 151, 1) 50%,
    rgba(31, 175, 114, 1) 86%
  );
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.6);
  animation: pulse 2s infinite;
}
.pointer-item {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  height: 27px;
  justify-content: center;
  width: 27px;
  /* position: absolute; */
}
.wrap-nav-element.pointer-item {
  padding: 0 !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.info-element-btns.js-show-moretext {
  text-align: right;
}
.tab_image_item {
  position: relative;
}
.tab_image_item img {
  max-width: 100%;
  display: block;
  width: 100%;
  object-fit: cover;
}

.tab_image_item_content {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 200px;
}
.tab_image_item_content_wrap {
  display: flex;
  gap: 40px;
  align-items: center;
}
.tab_section_wrapper {
  position: relative;
}
.tab_buttons_wrapper li {
  position: absolute;
  top: 0;
  z-index: 9;
}
.tab_buttons_wrapper li:first-child {
  top: 258px;
  left: 260px;
}
.tab_buttons_wrapper li:nth-child(2) {
  top: 368px;
  left: 234px;
}
.tab_buttons_wrapper li:nth-child(3) {
  top: 440px;
  left: 291px;
}
.tab_buttons_wrapper li:nth-child(4) {
  top: 600px;
  left: 410px;
}
.tab_buttons_wrapper li:nth-child(5) {
  top: 600px;
  left: 520px;
}
.tab_buttons_wrapper li:nth-child(6) {
  top: 310px;
  left: 671px;
}
.tab_image_item_content_wrap_left {
  width: 55%;
}
.tab_image_item_content_wrap_left img {
  width: 535px;
}
.tab_image_item_content_wrap_right {
  width: 45%;
}
.tab_image_item_content_wrap_right h2 {
  font-size: 55px;
  color: #fff;
  margin: 0 0 20px;
}
.tab_image_item_content_wrap_right p {
  font-size: 22px;
  color: #fff;
  line-height: 30px;
  width: 500px;
}
.wrap-galleries-module {
  margin: 0 0 50px;
}
@media (max-width: 1500px) {
  .tab_image_item_content {
    padding: 0 100px;
    top: 100px;
  }
  .tab_buttons_wrapper li:first-child {
    top: 156px;
    left: 160px;
  }
  .tab_buttons_wrapper li:nth-child(2) {
    top: 265px;
    left: 132px;
  }
  .tab_buttons_wrapper li:nth-child(3) {
    top: 349px;
    left: 190px;
  }
  .tab_buttons_wrapper li:nth-child(4) {
    top: 510px;
    left: 310px;
  }
  .tab_buttons_wrapper li:nth-child(5) {
    top: 510px;
    left: 420px;
  }
  .tab_buttons_wrapper li:nth-child(6) {
    top: 200px;
    left: 570px;
  }
}
@media (max-width: 1280px) {
  .tab_image_item_content_wrap_left img {
    width: 430px;
  }
  li.pointer-item {
    height: 26px;
    width: 26px;
  }
  .component-indicator {
    width: 13px;
    height: 13px;
  }
  .tab_buttons_wrapper li:first-child {
    top: 146px;
    left: 146px;
  }
  .tab_buttons_wrapper li:nth-child(2) {
    top: 236px;
    left: 127px;
  }
  .tab_buttons_wrapper li:nth-child(3) {
    top: 299px;
    left: 174px;
  }
  .tab_buttons_wrapper li:nth-child(4) {
    top: 432px;
    left: 268px;
  }
  .tab_buttons_wrapper li:nth-child(5) {
    top: 432px;
    left: 356px;
  }
  .tab_buttons_wrapper li:nth-child(6) {
    top: 183px;
    left: 479px;
  }
  .tab_image_item_content_wrap_right {
    width: 40%;
  }
  .tab_image_item_content_wrap_right h2 {
    font-size: 45px;
    color: #fff;
    margin: 0 0 20px;
  }
  .tab_image_item_content_wrap_right p {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    width: 400px;
  }
}
@media (max-width: 991px) {
  .tab_image_item_content {
    padding: 0 40px;
    top: 100px;
  }
  .tab_image_item_content_wrap {
    flex-direction: column;
  }
  .tab_image1 {
    height: 800px;
  }
  .tab_image2 {
    height: 800px;
  }
  .tab_image3 {
    height: 800px;
  }
  .tab_image4 {
    height: 800px;
  }
  .tab_image5 {
    height: 800px;
  }
  .tab_image6 {
    height: 800px;
  }
  .tab_image_item {
    height: 100%;
  }
  .tab_image_item img {
    height: 100%;
  }
  .tab_image_item_content_wrap {
    width: 540px;
    /* margin: 0 auto; */
  }
  .tab_image_item_content_wrap_right {
    width: 100%;
  }
  .tab_image_item_content_wrap_right p {
    width: 100%;
  }
  .tab_image_item_content_wrap_left {
    width: 70%;
  }
  .tab_image_item_content_wrap_left img {
    width: 100%;
  }
  .tab_buttons_wrapper li:first-child {
    top: 143px;
    left: 161px;
  }
  .tab_buttons_wrapper li:nth-child(2) {
    top: 217px;
    left: 140px;
  }
  .tab_buttons_wrapper li:nth-child(3) {
    top: 276px;
    left: 184px;
  }
  .tab_buttons_wrapper li:nth-child(4) {
    top: 390px;
    left: 268px;
  }
  .tab_buttons_wrapper li:nth-child(5) {
    top: 390px;
    left: 345px;
  }
  .tab_buttons_wrapper li:nth-child(6) {
    top: 176px;
    left: 454px;
  }
}
@media (max-width: 767px) {
  .tab_image_item_content {
    padding: 0 20px;
  }
  .tab_image_item_content_wrap {
    align-items: flex-start;
  }
  .tab_image_item_content_wrap_right {
    width: 350px;
  }
  li.pointer-item {
    height: 20px;
    width: 20px;
  }
  .component-indicator {
    width: 11px;
    height: 11px;
  }
  .tab_buttons_wrapper li:first-child {
    top: 143px;
    left: 66px;
  }
  .tab_buttons_wrapper li:nth-child(2) {
    top: 217px;
    left: 45px;
  }
  .tab_buttons_wrapper li:nth-child(3) {
    top: 276px;
    left: 86px;
  }
  .tab_buttons_wrapper li:nth-child(4) {
    top: 390px;
    left: 169px;
  }
  .tab_buttons_wrapper li:nth-child(5) {
    top: 390px;
    left: 250px;
  }
  .tab_buttons_wrapper li:nth-child(6) {
    top: 176px;
    left: 355px;
  }
}
.menu-dropdown-content .wrap-dropdown-content {
  text-align: left;
}
.million_minds_images_slider {
  position: relative;
}
.image_btns {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}
.map_img img {
  max-width: 100%;
  display: block;
  width: 450px;
}
.map_img {
  position: relative;
}

.slider_btn_item1 {
  position: absolute;
  top: 50px;
  left: 50px;
}
.slider_btn_item2 {
  position: absolute;
  top: 140px;
  left: 26px;
}
.slider_btn_item3 {
  position: absolute;
  top: 210px;
  left: 76px;
}
.slider_btn_item4 {
  position: absolute;
  top: 350px;
  left: 175px;
}
.slider_btn_item5 {
  position: absolute;
  top: 350px;
  left: 270px;
}
.slider_btn_item6 {
  position: absolute;
  top: 100px;
  left: 400px;
}
.six_slide_slider {
  height: 600px;
}
@media (max-width: 1280px) {
  .six_slide_slider {
    height: 100%;
  }
  .image_btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 991px) {
  .slider_btn_item1 {
    position: absolute;
    top: 45px;
    left: 50px;
  }
  .slider_btn_item2 {
    position: absolute;
    top: 134px;
    left: 26px;
  }
  .slider_btn_item3 {
    position: absolute;
    top: 200px;
    left: 72px;
  }
  .slider_btn_item4 {
    position: absolute;
    top: 320px;
    left: 165px;
  }
  .slider_btn_item5 {
    position: absolute;
    top: 320px;
    left: 255px;
  }
  .slider_btn_item6 {
    position: absolute;
    top: 85px;
    left: 375px;
  }
  .map_img img {
    max-width: max-content;
    display: block;
    width: 425px;
  }
}
@media (max-width: 767px) {
  .map_img img {
    width: 300px;
  }
  .pointer-item {
    height: 20px;
    width: 20px;
  }
  .component-indicator {
    width: 8px;
    height: 8px;
  }
  .slider_btn_item1 {
    position: absolute;
    top: 30px;
    left: 35px;
  }
  .slider_btn_item2 {
    position: absolute;
    top: 90px;
    left: 18px;
  }
  .slider_btn_item3 {
    position: absolute;
    top: 135px;
    left: 50px;
  }
  .slider_btn_item4 {
    position: absolute;
    top: 230px;
    left: 115px;
  }
  .slider_btn_item5 {
    position: absolute;
    top: 230px;
    left: 180px;
  }
  .slider_btn_item6 {
    position: absolute;
    top: 60px;
    left: 265px;
  }
}
@media (max-width: 575px) {
  .pointer-item {
    height: 15px;
    width: 15px;
  }
  .component-indicator {
    width: 7px;
    height: 6px;
  }
  .map_img img {
    width: 251px;
  }
  .slider_btn_item1 {
    position: absolute;
    top: 27px;
    left: 30px;
  }
  .slider_btn_item2 {
    position: absolute;
    top: 79px;
    left: 15px;
  }
  .slider_btn_item3 {
    position: absolute;
    top: 116px;
    left: 43px;
  }
  .slider_btn_item4 {
    position: absolute;
    top: 195px;
    left: 100px;
  }
  .slider_btn_item5 {
    position: absolute;
    top: 195px;
    left: 153px;
  }
  .slider_btn_item6 {
    position: absolute;
    top: 49px;
    left: 220px;
  }
}
.tech_city_text .partners-header-title {
  text-align: left;
}

  .wrap-partnerns-element.footer_partner_flex {
    flex-direction: row !important;
  }
  .footer-partners-header .partners-header-title {
    text-align: left;
    font-size: 14px !important;
  }
 
.footer-links-partners .wrap-footer-partners{
  padding: 50px 0 !important;
}
@media(max-width:1280px){
.footer-links-partners .wrap-footer-partners{
  padding: 20px 0 !important;
}
}
.wrap-footer-partners .footer-partners-content{
  justify-content: flex-start;
}


@media(max-width:767px){
  .footer-partners-header .partners-header-title {
    text-align: center;
    font-size: 14px !important;
  }
  .wrap-partnerns-element.footer_partner_flex {
    flex-direction: column !important;
  }
  .wrap-footer-partners .footer-partners-content{
    justify-content: center;
  }
  .partners-content-element{
    justify-content: center;
  }
}
.flex_item_center{
  align-items: center;
  margin: 0 0 100px;
}
.flex_item_center .intro-info-header{
  height: 500px;
}
.flex_item_center .intro-info-header img{
  width: 100%;
}
