@font-face {
  font-family: 'c2t';
  src:  url('fonts/c2t.eot?wkyuwt');
  src:  url('fonts/c2t.eot?wkyuwt#iefix') format('embedded-opentype'),
    url('fonts/c2t.ttf?wkyuwt') format('truetype'),
    url('fonts/c2t.woff?wkyuwt') format('woff'),
    url('fonts/c2t.svg?wkyuwt#c2t') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-c2t-"], [class*=" icon-c2t-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'c2t' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-c2t-wifi:before {
  content: "\e934";
}
.icon-c2t-altavoz:before {
  content: "\e935";
}
.icon-c2t-articulos_bano:before {
  content: "\e93c";
}
.icon-c2t-banera_exterior:before {
  content: "\e93d";
}
.icon-c2t-cafetera:before {
  content: "\e93e";
}
.icon-c2t-caja_fuerte:before {
  content: "\e93f";
}
.icon-c2t-canales_tv:before {
  content: "\e940";
}
.icon-c2t-colchon:before {
  content: "\e941";
}
.icon-c2t-curve_smart_tv:before {
  content: "\e942";
}
.icon-c2t-ducha:before {
  content: "\e943";
}
.icon-c2t-espejo_aumento_02:before {
  content: "\e98b";
}
.icon-c2t-minibar_02:before {
  content: "\e98c";
}
.icon-c2t-multicargador:before {
  content: "\e98d";
}
.icon-c2t-perfume:before {
  content: "\e98e";
}
.icon-c2t-sabanas1:before {
  content: "\e98f";
}
.icon-c2t-secador_02:before {
  content: "\e990";
}
.icon-c2t-smart_tv:before {
  content: "\e991";
}
.icon-c2t-video_steaming:before {
  content: "\e992";
}
.icon-c2t-bar_sanck:before {
  content: "\e993";
}
.icon-c2t-bicicletas:before {
  content: "\e994";
}
.icon-c2t-cocktail:before {
  content: "\e995";
}
.icon-c2t-conserje:before {
  content: "\e996";
}
.icon-c2t-consigna:before {
  content: "\e997";
}
.icon-c2t-estacionamientos:before {
  content: "\e998";
}
.icon-c2t-fresca:before {
  content: "\e999";
}
.icon-c2t-gimnasio:before {
  content: "\e99a";
}
.icon-c2t-masajes:before {
  content: "\e99b";
}
.icon-c2t-ocre:before {
  content: "\e99c";
}
.icon-c2t-piscina:before {
  content: "\e99d";
}
.icon-c2t-recepcion_021:before {
  content: "\e99e";
}
.icon-c2t-restaurante:before {
  content: "\e99f";
}
.icon-c2t-sala_reuniones:before {
  content: "\e9a0";
}
.icon-c2t-servicio:before {
  content: "\e9a1";
}
.icon-c2t-servicio_hab:before {
  content: "\e9a2";
}
.icon-c2t-toallas:before {
  content: "\e9a3";
}
.icon-c2t-transfer:before {
  content: "\e9a4";
}
.icon-c2t-tumbona:before {
  content: "\e9a5";
}
.icon-c2t-tumbona_sol:before {
  content: "\e9a6";
}
.icon-c2t-tumbona_sombrilla:before {
  content: "\e9a7";
}
.icon-c2t-vistas_pueblo:before {
  content: "\e9a8";
}
.icon-c2t-botella_vino:before {
  content: "\e9a9";
}
.icon-c2t-check_in:before {
  content: "\e9aa";
}
.icon-c2t-disponibilidad:before {
  content: "\e9ab";
}
.icon-c2t-mejor_tarifa:before {
  content: "\e9ac";
}
.icon-c2t-promociones:before {
  content: "\e9ad";
}
.icon-c2t-sin_coste:before {
  content: "\e9ae";
}
.icon-c2t-accesoplaya_01:before {
  content: "\e600";
}
.icon-c2t-ducha_01:before {
  content: "\e601";
}
.icon-c2t-ducha_02:before {
  content: "\e602";
}
.icon-c2t-ducha_03:before {
  content: "\e603";
}
.icon-c2t-jacuzzi_01:before {
  content: "\e604";
}
.icon-c2t-jacuzzi_02:before {
  content: "\e605";
}
.icon-c2t-jacuzzi_03:before {
  content: "\e606";
}
.icon-c2t-piscina_01:before {
  content: "\e607";
}
.icon-c2t-piscina_02:before {
  content: "\e608";
}
.icon-c2t-piscinachillout_01:before {
  content: "\e609";
}
.icon-c2t-piscinacubierta_01:before {
  content: "\e60a";
}
.icon-c2t-airecondicionado_01:before {
  content: "\e60b";
}
.icon-c2t-albornoz_01:before {
  content: "\e60c";
}
.icon-c2t-amenities_01:before {
  content: "\e60d";
}
.icon-c2t-animacion_01:before {
  content: "\e60e";
}
.icon-c2t-animacion_02:before {
  content: "\e60f";
}
.icon-c2t-balcon_01:before {
  content: "\e610";
}
.icon-c2t-bano_01:before {
  content: "\e611";
}
.icon-c2t-banoturco_01:before {
  content: "\e612";
}
.icon-c2t-bar_01:before {
  content: "\e613";
}
.icon-c2t-bar_02:before {
  content: "\e614";
}
.icon-c2t-bar_03:before {
  content: "\e615";
}
.icon-c2t-bar_04:before {
  content: "\e616";
}
.icon-c2t-bar_05:before {
  content: "\e617";
}
.icon-c2t-bilingue_01:before {
  content: "\e618";
}
.icon-c2t-billar_01:before {
  content: "\e619";
}
.icon-c2t-buggy_01:before {
  content: "\e61a";
}
.icon-c2t-cafe_01:before {
  content: "\e61b";
}
.icon-c2t-cajafuerte_01:before {
  content: "\e61c";
}
.icon-c2t-calefacion_01:before {
  content: "\e61d";
}
.icon-c2t-cama_01:before {
  content: "\e61e";
}
.icon-c2t-cama_02:before {
  content: "\e61f";
}
.icon-c2t-camabalinesa_01:before {
  content: "\e620";
}
.icon-c2t-cambiomoneda_01:before {
  content: "\e621";
}
.icon-c2t-cambiomoneda_02:before {
  content: "\e622";
}
.icon-c2t-cartarestaurante_01:before {
  content: "\e623";
}
.icon-c2t-champan_01:before {
  content: "\e624";
}
.icon-c2t-check_01:before {
  content: "\e625";
}
.icon-c2t-check_02:before {
  content: "\e626";
}
.icon-c2t-ciclo_01:before {
  content: "\e627";
}
.icon-c2t-ciclo_02:before {
  content: "\e628";
}
.icon-c2t-ciclogaraje_01:before {
  content: "\e629";
}
.icon-c2t-coche_01:before {
  content: "\e62a";
}
.icon-c2t-coche_02:before {
  content: "\e62b";
}
.icon-c2t-cuna_01:before {
  content: "\e62c";
}
.icon-c2t-desayuno_01:before {
  content: "\e62d";
}
.icon-c2t-dvd_01:before {
  content: "\e62e";
}
.icon-c2t-espejoaumento_01:before {
  content: "\e62f";
}
.icon-c2t-excursiones_01:before {
  content: "\e630";
}
.icon-c2t-excursiones_02:before {
  content: "\e631";
}
.icon-c2t-futbol_01:before {
  content: "\e632";
}
.icon-c2t-gimnasio_01:before {
  content: "\e633";
}
.icon-c2t-gimnasio_02:before {
  content: "\e634";
}
.icon-c2t-golf_01:before {
  content: "\e635";
}
.icon-c2t-guardaequipaje_01:before {
  content: "\e636";
}
.icon-c2t-habitacionamplia_01:before {
  content: "\e637";
}
.icon-c2t-hamaca_01:before {
  content: "\e638";
}
.icon-c2t-hamaca_02:before {
  content: "\e639";
}
.icon-c2t-hilomusical_01:before {
  content: "\e63a";
}
.icon-c2t-hipica_01:before {
  content: "\e63b";
}
.icon-c2t-info_01:before {
  content: "\e63c";
}
.icon-c2t-jardin_01:before {
  content: "\e63d";
}
.icon-c2t-jardin_02:before {
  content: "\e63e";
}
.icon-c2t-juegos_01:before {
  content: "\e63f";
}
.icon-c2t-lavanderia_01:before {
  content: "\e640";
}
.icon-c2t-masaje_01:before {
  content: "\e641";
}
.icon-c2t-medico_01:before {
  content: "\e642";
}
.icon-c2t-mesa_01:before {
  content: "\e643";
}
.icon-c2t-minibar_01:before {
  content: "\e644";
}
.icon-c2t-minusvalidos_01:before {
  content: "\e645";
}
.icon-c2t-nevera_01:before {
  content: "\e646";
}
.icon-c2t-padel_01:before {
  content: "\e647";
}
.icon-c2t-persona_01:before {
  content: "\e648";
}
.icon-c2t-persona_02:before {
  content: "\e649";
}
.icon-c2t-persona_03:before {
  content: "\e64a";
}
.icon-c2t-persona_04:before {
  content: "\e64b";
}
.icon-c2t-pinpong_01:before {
  content: "\e64c";
}
.icon-c2t-plantaprimera_01:before {
  content: "\e64d";
}
.icon-c2t-prensa_01:before {
  content: "\e64e";
}
.icon-c2t-puntointernet_01:before {
  content: "\e64f";
}
.icon-c2t-recepcion_01:before {
  content: "\e650";
}
.icon-c2t-restaurante_01:before {
  content: "\e651";
}
.icon-c2t-restaurante_02:before {
  content: "\e652";
}
.icon-c2t-salaconferencias_01:before {
  content: "\e653";
}
.icon-c2t-sauna_01:before {
  content: "\e654";
}
.icon-c2t-secador_01:before {
  content: "\e655";
}
.icon-c2t-serviciohabitaciones_01:before {
  content: "\e656";
}
.icon-c2t-sofa_01:before {
  content: "\e657";
}
.icon-c2t-taxi_01:before {
  content: "\e658";
}
.icon-c2t-te_01:before {
  content: "\e659";
}
.icon-c2t-te_02:before {
  content: "\e65a";
}
.icon-c2t-telefono_01:before {
  content: "\e65b";
}
.icon-c2t-television_01:before {
  content: "\e65c";
}
.icon-c2t-tenis_01:before {
  content: "\e65d";
}
.icon-c2t-terraza_01:before {
  content: "\e65e";
}
.icon-c2t-terraza_02:before {
  content: "\e65f";
}
.icon-c2t-tienda_01:before {
  content: "\e660";
}
.icon-c2t-toalla_01:before {
  content: "\e661";
}
.icon-c2t-transfer_01:before {
  content: "\e662";
}
.icon-c2t-vistaciudad_01:before {
  content: "\e663";
}
.icon-c2t-vistaciudad_02:before {
  content: "\e664";
}
.icon-c2t-vistalateral_01:before {
  content: "\e665";
}
.icon-c2t-vistalateral_02:before {
  content: "\e666";
}
.icon-c2t-vistamar_01:before {
  content: "\e667";
}
.icon-c2t-voley_01:before {
  content: "\e668";
}
.icon-c2t-wifi_01:before {
  content: "\e669";
}
.icon-c2t-zapatillas_01:before {
  content: "\e66a";
}
.icon-c2t-zonalectura_01:before {
  content: "\e66b";
}
.icon-c2t-bar_06:before {
  content: "\e66c";
}
.icon-c2t-cajafuerte_02:before {
  content: "\e66d";
}
.icon-c2t-cama_03:before {
  content: "\e66e";
}
.icon-c2t-cama_04:before {
  content: "\e66f";
}
.icon-c2t-fumar_01:before {
  content: "\e670";
}
.icon-c2t-parqueinfantil_01:before {
  content: "\e671";
}
.icon-c2t-reuniones_01:before {
  content: "\e672";
}
.icon-c2t-reuniones_02:before {
  content: "\e673";
}
.icon-c2t-reuniones_03:before {
  content: "\e674";
}
.icon-c2t-reuniones_04:before {
  content: "\e675";
}
.icon-c2t-reuniones_05:before {
  content: "\e676";
}
.icon-c2t-reuniones_06:before {
  content: "\e677";
}
.icon-c2t-reuniones_07:before {
  content: "\e678";
}
.icon-c2t-reuniones_08:before {
  content: "\e679";
}
.icon-c2t-solarium_01:before {
  content: "\e67a";
}
.icon-c2t-reuniones_09:before {
  content: "\e67b";
}
.icon-c2t-cojin_01:before {
  content: "\e67c";
}
.icon-c2t-despertador_01:before {
  content: "\e67d";
}
.icon-c2t-despertador_02:before {
  content: "\e67e";
}
.icon-c2t-espejo_01:before {
  content: "\e67f";
}
.icon-c2t-excursion_03:before {
  content: "\e680";
}
.icon-c2t-familia_01:before {
  content: "\e681";
}
.icon-c2t-fax_01:before {
  content: "\e682";
}
.icon-c2t-friocalor_01:before {
  content: "\e683";
}
.icon-c2t-fumar_02:before {
  content: "\e684";
}
.icon-c2t-fumar_03:before {
  content: "\e685";
}
.icon-c2t-futbol_02:before {
  content: "\e686";
}
.icon-c2t-gluten_01:before {
  content: "\e687";
}
.icon-c2t-gluten_02:before {
  content: "\e688";
}
.icon-c2t-grill_01:before {
  content: "\e689";
}
.icon-c2t-guarderia_01:before {
  content: "\e68a";
}
.icon-c2t-limpieza_01:before {
  content: "\e68b";
}
.icon-c2t-luz_01:before {
  content: "\e68c";
}
.icon-c2t-mando_01:before {
  content: "\e68d";
}
.icon-c2t-maquillaje_01:before {
  content: "\e68e";
}
.icon-c2t-microondas_01:before {
  content: "\e68f";
}
.icon-c2t-minusvalidos_02:before {
  content: "\e690";
}
.icon-c2t-ninos_01:before {
  content: "\e691";
}
.icon-c2t-ninospiscina_01:before {
  content: "\e692";
}
.icon-c2t-parkinbicis_01:before {
  content: "\e693";
}
.icon-c2t-parking_01:before {
  content: "\e694";
}
.icon-c2t-parking_02:before {
  content: "\e695";
}
.icon-c2t-perros_01:before {
  content: "\e696";
}
.icon-c2t-petanca_01:before {
  content: "\e697";
}
.icon-c2t-plancha_01:before {
  content: "\e698";
}
.icon-c2t-recepcion_02:before {
  content: "\e699";
}
.icon-c2t-restaurante_03:before {
  content: "\e69a";
}
.icon-c2t-restaurante_04:before {
  content: "\e69b";
}
.icon-c2t-restaurante_05:before {
  content: "\e69c";
}
.icon-c2t-restaurante_06:before {
  content: "\e69d";
}
.icon-c2t-showcocking_01:before {
  content: "\e69e";
}
.icon-c2t-solarium_02:before {
  content: "\e69f";
}
.icon-c2t-solarium_03:before {
  content: "\e6a0";
}
.icon-c2t-supermercado_01:before {
  content: "\e6a1";
}
.icon-c2t-television_02:before {
  content: "\e6a2";
}
.icon-c2t-television_03:before {
  content: "\e6a3";
}
.icon-c2t-tenis_02:before {
  content: "\e6a4";
}
.icon-c2t-ticket_01:before {
  content: "\e6a5";
}
.icon-c2t-tiro_arco_01:before {
  content: "\e6a6";
}
.icon-c2t-tostadora_01:before {
  content: "\e6a7";
}
.icon-c2t-transfer_02:before {
  content: "\e6a8";
}
.icon-c2t-vahiculo_01:before {
  content: "\e6a9";
}
.icon-c2t-vahiculo_02:before {
  content: "\e6aa";
}
.icon-c2t-vahiculo_03:before {
  content: "\e6ab";
}
.icon-c2t-vahiculo_04:before {
  content: "\e6ac";
}
.icon-c2t-vahiculo_05:before {
  content: "\e6ad";
}
.icon-c2t-vahiculo_06:before {
  content: "\e6ae";
}
.icon-c2t-vahiculo_07:before {
  content: "\e6af";
}
.icon-c2t-vahiculo_08:before {
  content: "\e6b0";
}
.icon-c2t-vahiculo_09:before {
  content: "\e6b1";
}
.icon-c2t-ventilador_01:before {
  content: "\e6b2";
}
.icon-c2t-wifi_02:before {
  content: "\e6b3";
}
.icon-c2t-wifi_03:before {
  content: "\e6b4";
}
.icon-c2t-wifi_04:before {
  content: "\e6b5";
}
.icon-c2t-bano_02:before {
  content: "\e6b6";
}
.icon-c2t-bar_07:before {
  content: "\e6b7";
}
.icon-c2t-barsalon_01:before {
  content: "\e6b8";
}
.icon-c2t-bebe_01:before {
  content: "\e6b9";
}
.icon-c2t-belleza_01:before {
  content: "\e6ba";
}
.icon-c2t-cama_05:before {
  content: "\e6bb";
}
.icon-c2t-carta_01:before {
  content: "\e6bc";
}
.icon-c2t-carta_02:before {
  content: "\e6bd";
}
.icon-c2t-ascensor_01:before {
  content: "\e6be";
}
.icon-c2t-extintor:before {
  content: "\e900";
}
.icon-c2t-enchufe_universal:before {
  content: "\e901";
}
.icon-c2t-towels:before {
  content: "\e902";
}
.icon-c2t-sunbed:before {
  content: "\e903";
}
.icon-c2t-hearthbeat:before {
  content: "\e904";
}
.icon-c2t-cream:before {
  content: "\e905";
}
.icon-c2t-compass:before {
  content: "\e906";
}
.icon-c2t-cocktel:before {
  content: "\e907";
}
.icon-c2t-chef:before {
  content: "\e908";
}
.icon-c2t-luz_lectura:before {
  content: "\e909";
}
.icon-c2t-enchufe:before {
  content: "\e90a";
}
.icon-c2t-minusvalido:before {
  content: "\e90b";
}
.icon-c2t-chica:before {
  content: "\e90c";
}
.icon-c2t-chico:before {
  content: "\e90d";
}
.icon-c2t-privacidad:before {
  content: "\e90e";
}
.icon-c2t-whatsapp:before {
  content: "\e90f";
}
.icon-c2t-tarta-01:before {
  content: "\e910";
}
.icon-c2t-filete_carne:before {
  content: "\e911";
}
.icon-c2t-pescado:before {
  content: "\e912";
}
.icon-c2t-terraza_jardin-01:before {
  content: "\e913";
}
.icon-c2t-menu-nenes-01:before {
  content: "\e914";
}
.icon-c2t-cardio_01:before {
  content: "\e915";
}
.icon-c2t-acceso_internet_tv-01:before {
  content: "\e916";
}
.icon-c2t-dj-01:before {
  content: "\e917";
}
.icon-c2t-patios:before {
  content: "\e918";
}
.icon-c2t-puro:before {
  content: "\e919";
}
.icon-c2t-radio-09:before {
  content: "\e91a";
}
.icon-c2t-television_05:before {
  content: "\e91b";
}
.icon-c2t-bidon:before {
  content: "\e91c";
}
.icon-c2t-Equipamiento:before {
  content: "\e91d";
}
.icon-c2t-herramientas:before {
  content: "\e91e";
}
.icon-c2t-isotonica:before {
  content: "\e91f";
}
.icon-c2t-lavadero:before {
  content: "\e920";
}
.icon-c2t-mando:before {
  content: "\e921";
}
.icon-c2t-mecanico:before {
  content: "\e922";
}
.icon-c2t-regalo:before {
  content: "\e923";
}
.icon-c2t-rutas:before {
  content: "\e924";
}
.icon-c2t-cama-kingsize:before {
  content: "\e925";
}
.icon-c2t-ocupations:before {
  content: "\e926";
}
.icon-c2t-patio:before {
  content: "\e927";
}
.icon-c2t-amenities:before {
  content: "\e928";
}
.icon-c2t-banderilla:before {
  content: "\e929";
}
.icon-c2t-butaca:before {
  content: "\e92a";
}
.icon-c2t-cubiertos:before {
  content: "\e92b";
}
.icon-c2t-gym:before {
  content: "\e92c";
}
.icon-c2t-marinas:before {
  content: "\e92d";
}
.icon-c2t-olas:before {
  content: "\e92e";
}
.icon-c2t-pasajeros:before {
  content: "\e92f";
}
.icon-c2t-refresco:before {
  content: "\e930";
}
.icon-c2t-sol:before {
  content: "\e931";
}
.icon-c2t-spa:before {
  content: "\e932";
}
.icon-c2t-wifi2:before {
  content: "\e933";
}
.icon-c2t-vitro-01:before {
  content: "\e936";
}
.icon-c2t-tresmasuno:before {
  content: "\e937";
}
.icon-c2t-television_loewe-01:before {
  content: "\e938";
}
.icon-c2t-tres-camas:before {
  content: "\e939";
}
.icon-c2t-ubicacion-01:before {
  content: "\e93a";
}
.icon-c2t-babycook-01:before {
  content: "\e93b";
}
.icon-c2t-canguro-2h-01:before {
  content: "\e944";
}
.icon-c2t-decoracion-infantil-01:before {
  content: "\e945";
}
.icon-c2t-descuento-masaje:before {
  content: "\e946";
}
.icon-c2t-esterilizador-biberones-01:before {
  content: "\e947";
}
.icon-c2t-humidificador-01:before {
  content: "\e948";
}
.icon-c2t-interfono-01:before {
  content: "\e949";
}
.icon-c2t-musica-vivo:before {
  content: "\e94a";
}
.icon-c2t-parquet-01:before {
  content: "\e94b";
}
.icon-c2t-peliculas-01:before {
  content: "\e94c";
}
.icon-c2t-playstation-01:before {
  content: "\e94d";
}
.icon-c2t-sala_escuela-01:before {
  content: "\e94e";
}
.icon-c2t-casco_seguro_premium-01:before {
  content: "\e94f";
}
.icon-c2t-compresor-01:before {
  content: "\e950";
}
.icon-c2t-bomba-01:before {
  content: "\e951";
}
.icon-c2t-luz_natural-01:before {
  content: "\e952";
}
.icon-c2t-sala_banquete-01:before {
  content: "\e953";
}
.icon-c2t-percha-01:before {
  content: "\e954";
}
.icon-c2t-escaleras-01:before {
  content: "\e955";
}
.icon-c2t-taquillas-01:before {
  content: "\e956";
}
.icon-c2t-camara-fotos-01:before {
  content: "\e957";
}
.icon-c2t-cama-romana:before {
  content: "\e958";
}
.icon-c2t-snorkel:before {
  content: "\e959";
}
.icon-c2t-compartir-01:before {
  content: "\e95a";
}
.icon-c2t-sofa-mesa-01:before {
  content: "\e95b";
}
.icon-c2t-mesa-conferencia1:before {
  content: "\e95c";
}
.icon-c2t-mesa-conferencia2:before {
  content: "\e95d";
}
.icon-c2t-prendas:before {
  content: "\e95e";
}
.icon-c2t-camra:before {
  content: "\e95f";
}
.icon-c2t-lavaderobicis:before {
  content: "\e960";
}
.icon-c2t-material:before {
  content: "\e961";
}
.icon-c2t-serviciotec:before {
  content: "\e962";
}
.icon-c2t-hippy:before {
  content: "\e963";
}
.icon-c2t-banoexterior:before {
  content: "\e964";
}
.icon-c2t-base_ipod:before {
  content: "\e965";
}
.icon-c2t-calentador_agua:before {
  content: "\e966";
}
.icon-c2t-fotocopia:before {
  content: "\e967";
}
.icon-c2t-nomascota:before {
  content: "\e968";
}
.icon-c2t-parking_03:before {
  content: "\e969";
}
.icon-c2t-platos:before {
  content: "\e96a";
}
.icon-c2t-sabanas:before {
  content: "\e96b";
}
.icon-c2t-sombrilla:before {
  content: "\e96c";
}
.icon-c2t-tarjeta:before {
  content: "\e96d";
}
.icon-c2t-vista_04:before {
  content: "\e96e";
}
.icon-c2t-ancla:before {
  content: "\e96f";
}
.icon-c2t-antebano:before {
  content: "\e970";
}
.icon-c2t-centro:before {
  content: "\e971";
}
.icon-c2t-centro_1:before {
  content: "\e972";
}
.icon-c2t-clubnautico:before {
  content: "\e973";
}
.icon-c2t-compras:before {
  content: "\e974";
}
.icon-c2t-detalle_1:before {
  content: "\e975";
}
.icon-c2t-fuentedehielo:before {
  content: "\e976";
}
.icon-c2t-hospital:before {
  content: "\e977";
}
.icon-c2t-pediluvio:before {
  content: "\e978";
}
.icon-c2t-portatil:before {
  content: "\e979";
}
.icon-c2t-productoslocales_1:before {
  content: "\e97a";
}
.icon-c2t-vahiculo_10:before {
  content: "\e97b";
}
.icon-c2t-vahiculo_11:before {
  content: "\e97c";
}
.icon-c2t-restaurante_07:before {
  content: "\e97d";
}
.icon-c2t-sofa_02:before {
  content: "\e97e";
}
.icon-c2t-correo_01:before {
  content: "\e97f";
}
.icon-c2t-bolleria_01:before {
  content: "\e980";
}
.icon-c2t-cajero_01:before {
  content: "\e981";
}
.icon-c2t-carrito_01:before {
  content: "\e982";
}
.icon-c2t-cocina_01:before {
  content: "\e983";
}
.icon-c2t-fax_012:before {
  content: "\e984";
}
.icon-c2t-fruta_01:before {
  content: "\e985";
}
.icon-c2t-libro_01:before {
  content: "\e986";
}
.icon-c2t-menaje_01:before {
  content: "\e987";
}
.icon-c2t-picnic_01:before {
  content: "\e988";
}
.icon-c2t-trona_01:before {
  content: "\e989";
}
.icon-c2t-botella-agua-01:before {
  content: "\e98a";
}
